version: '3'
services:
  nginx:
    image: nginx:1.10
    container_name: shopping-nginx
    links:
      - php-fpm
      - php-cli
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - php-fpm
      - php-cli

  php-fpm:
    build:
      context: ./
      dockerfile: docker/php-fpm.docker
    container_name: shopping-php-fpm
    volumes:
      - ./:/var/www
    depends_on:
      - mysql
      - redis
  php-cli:
    build:
      context: ./
      dockerfile: docker/php-cli.docker
    container_name: shopping-php-cli
    volumes:
      - ./:/var/www
    depends_on:
      - mysql
      - redis
  mysql:
    image: mysql:5.7
    volumes:
      - ./storage/docker/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      - "MYSQL_ROOT_PASSWORD=123"
      - "MYSQL_USER=docker"
      - "MYSQL_PASSWORD=secret"
      - "MYSQL_DATABASE=app"

  redis:
    image: redis:3.0
    ports:
      - "63791:6379"